[submodule "Documents/GitHub/cashflow/Documents/GitHub/cashflow/client"]
	path = Documents/GitHub/cashflow/Documents/GitHub/cashflow/client
	url = https://github.com/Khalilkadri98/treasury-managemnt.git
